<p>home works!</p>
<p>{{title}}</p>
<td> <button (click)="show()">buy</button></td>
<input name="priceMax" type="number" [(ngModel)]="priceMax" class=""  />
<p>

    {{priceMax}}
</p>
<tr>
    <th>name </th><th>age </th><th>grade</th><th>mail</th>
</tr>
<tbody *ngFor="let s of tabStudent; let i = index">

    <tr >
        <td>
            <ng-container *ngIf="s.grade > 'D'; else failGrade">
              {{ s.name }}
            </ng-container>
            <ng-template #failGrade>
              <div style="color: green;">
                {{ s.name }}
              </div>
            </ng-template>
          </td>
        <td>{{s.age}}</td>
        <td>{{s.grade}}</td>
        <td>{{s.mail}}</td>
 <button (click)="incrementGrade(i)">Like<3</button>
    </tr>
</tbody>




